body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column; /* Stack children elements vertically */
}

.header {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px; /* Space between header and main content */
  gap:20px;
}

.header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* This will push the h1 to the far right */
  width: 100%; /* Take full width to align with the nav bar */
}

.logo {
  width: 100px; /* Adjust as needed */
  height: auto;
}

h1 {
  margin-left: 20px;
  font-size: 2rem;

}
/* Navigation Bar Styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center /* Centers the links horizontally */
}

nav li {
  margin: 0 10px; /* Spacing between links */
}

nav a {
  text-decoration: none;
  color: rgb(246, 239, 239); /* Adjust the color as needed */
  font-weight: bold;
}

.top-nav {
  background-color: #d28383; /* Dark background for top nav */
}

.bottom-nav {
  background-color: #d48c8c; /* Slightly different color for bottom nav */
  display: flex;
  justify-content: center;

}

/* Add styles for hover effects on links if desired */
nav a:hover {
  color: #3d0808; /* Lighter color on hover */
}


.main {
  display: flex; /* Use block layout for main content */
}

.card {
  margin: 10px 0;
}

.tile-image {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.left, .right {
  width: 100%; /* Full width for left and right cards */
}

footer {
  color: midnightblue;
  text-align: right;
}


@media (max-width: 680px) {
  .header .header-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo {
    width: 50%;
  }

  h1 {
    margin: 10px 0;
    font-size: 3.5rem;
   
  }

  .card {
    width: 100%; /* Full width for cards on small screens */
  }
}
